body{
	background-image: url("images/fondo.png");
}

#contenedor {
	top: 50%;
}

#contenedor #logo {
	top: 50%;
	align: center;
}

#contenedor #logo img{
	width: 350px;
	top: 40%;
	position: absolute;
}

#contenedor #login{
	top: 60%;
}

#contenedor #login #titulo{
	top: 150px;
}

#contenedor #login h2{
	color: white;
}


#contenedor #login h3{
	color: white;
}

#contenedor #login #email{
	top: 100px;
	color: white;
}

#contenedor #login #email i{
  top: 10px;
  color: white;
  font-size: 40px;
}

#contenedor #login #pass{
	top: 150px;
	color: white;
}

#contenedor #login #pass i{
  top: 10px;
  font-size: 40px;
  color: white;
}

#contenedor #login #btn{
	top: 200px;	
}

#contenedor #login #btn button{
	width: 400px;	
	color: white;
	background-color: #1a237e;
	height: 50px;
	left: 10%;
}

 /* label color */
   .input-field label {
     color: #fff
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 2px 0 0 #fff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;

   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }